.checkout-pane,
.addon-pane {
  background-color: white;
  padding: 2em;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.addon-pane {
  margin-bottom: 24px;
  padding: 0;
  flex-direction: row;
  transition: height 0.2s ease-in-out;
}
.addon-pane .left,
.addon-pane .right {
  flex: 1;
  padding-bottom: 2em;
  height: auto;
}

.addon-pane .collapse-toggle {
  transform: scale(1.2);
  margin: 3px 8px 0 0;
}

.addon-pane .addon-header {
  display: flex;
}

.addon-pane .left {
  padding-left: 2em;
}

.addon-pane .left.collapsed {
  padding-bottom: 0;
}
.addon-pane .right.collapsed {
  height: 0;
}

.addon-pane .right .postcard {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 2em;
  margin: 2em 2em 0;
  gap: 8px;
}

.checkout-pane .checkout-item {
  box-sizing: box-border;
  display: flex;
  padding: 12px 24px;
  border-bottom: 1px dashed #b1b1b1;
}

.checkout-pane .checkout-item.last {
  border-bottom: 2px solid black;
}
.checkout-pane .checkout-item.total {
  justify-content: flex-end;
  border-bottom: none;
  font-weight: bold;
}
.checkout-pane .checkout-item.total .quantity {
  padding-right: 24px;
}

.checkout-pane .checkout-item .item-title {
  padding: 8px 0 0 16px;
}

.checkout-pane .checkout-item .spacer {
  flex: 1;
}

.checkout-pane .checkout-item .left {
  display: flex;
}

.checkout-pane .checkout-item .quantity {
  display: flex;
  max-width: 100px;
  align-items: center;
  padding: 0 8px;
}
.checkout-pane .checkout-item .quantity button {
  padding: 5px;
  font-size: 12px;
  margin: 0 5px;
  background: light-grey;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0);
}

.checkout-pane .checkout-item .quantity button.add-more {
  border: 2px solid rgba(0, 255, 0, 0.4);
  background-color: rgba(0, 255, 0, 0.1);
}

.checkout-pane .checkout-item .quantity button.remove {
  border: 2px solid rgba(255, 0, 0, 0.4);
  background-color: rgba(255, 0, 0, 0.1);
}

.checkout-pane .checkout-item .price {
  display: flex;
  align-items: center;
  padding: 0 8px;
  width: 80px;
  justify-content: flex-end;
}
.checkout-pane .checkout-item .mob-right {
  display: flex;
  justify-content: space-between;
}

.checkout-pane .checkout-btn {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 16px;
  width: fit-content;
  padding: 8px 16px;
  align-self: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.checkout-pane .checkout-btn:hover {
  background-color: lightgrey;
}

.empty-cart {
  text-align: center;
  padding: 2em 0;
}
.empty-cart .empty-emoji {
  font-size: 38px;
  margin-bottom: 24px;
}
.empty-cart .checkout-btn {
  margin-top: 24px;
}

@media (max-width: 769px) {
  .checkout-pane,
  .addon-pane {
    background-color: white;
    padding: 1em;
    margin: 0 16px;
  }
  .addon-pane {
    margin-bottom: 24px;
  }
  .checkout-pane .checkout-item {
    padding: 12px 0px;
  }
  .checkout-pane .checkout-item .mob-right {
    flex-direction: column-reverse;
    align-items: center;
  }
  .checkout-pane .checkout-item .price {
    width: auto;
  }
  .checkout-pane .checkout-btn {
    font-size: 16px;
    margin-top: 24px;
    width: 100%;
    padding: 8px 9px;
  }
}
