header {
  text-align: center;
  position: relative;
  padding: 4em 0;
}

header .checkout-link {
  position: absolute;
  right: 56px;
  top: 50%;
  transform: translateY(-45%);
  transition: background-color 0.2s ease-in-out;
  padding: 4px 5px 0px 4px;
  border-radius: 4px;
}

header .checkout-link:hover {
  background-color: lightgray;
}

header .checkout-link .cart-notification {
  position: absolute;
  right: 2px;
  top: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: red;
}
